{
  "tabWidth": 4,
  "trailingComma": "all",
  "objectWrap": "collapse",
  "overrides": [
    {
      "files": ["*.json", "*.yml", ".prettierrc"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
